.dashboard {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.grid {
   display: grid;
   gap: 20px;
   width: 100%;

   z-index: 5;
}

.wrapper {
   width: 90%;
}

@media only screen and (max-width: 700px) {
   .dashboard {
      width: 90%;
   }
}

.home>h2 {
   position: absolute;

   top: 20%;

   pointer-events: none;
}

.home>svg {
   position: absolute;
   z-index: 1;

   pointer-events: none;
}

.card {
   padding: 15px 25px;

   width: 100%;

   display: flex;
   flex-direction: column;
   gap: 10px;
}

.card:hover {
   background-color: var(--button-color-low);
   outline-color: var(--link);
}

.add {
   cursor: pointer;
}

.options {
   position: absolute;

   top: 0;
   right: 0;

   padding: 10px;
}